$text_main: #3A3A3A;
$text_sub: #979797;
$text_white: #FCFCFC;
$text_grey: #5F5F5F;
$text_title: #1E314A;
$dark-grey: #858585;
$light_grey: #F5F5F5;
$light_light_grey: #EFEFEF;
$black: #000000;
$white: #FFFFFF;
$blue: #1888D9;
$dark-blue: #3A81C1;
$disabled: #CECECE;
$point1: #0055B8;
$point2: #0F5783;
$point3: #FFC01E;
